<section class="user-profile">
  <h1>User Profile</h1>
  <%= render 'user_card', user: @user %>
  <div class="profile-bio">
    <h3>Bio</h3>
    <p><%= @user.bio.slice(0, 200)... %></p>
  </div>
  <div class="post-card-container">
    <% @user.recent_three.each_with_index do |post, index| %> 
      <%= link_to user_post_path(@user, post) do %>
        <%= render "posts/post_card", post: post, index: index %>
      <% end %> 
    <% end %>
  </div>
    <%= link_to user_posts_path(@user) do %>
      <button class="see-all-btn">See all posts</button>
  <%end %>
</section>