<section class="single-post">
  <div class="user-post">
    <div class="post-card relative">
      <h3>Post #<%=@post.id%></h3>
      <h5>Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></h5>
      <p><%=@post.text%></p>
    </div>
    <div>
      <%= form_with model: @like , url: "/users/#{params[:id]}/posts/#{params[:post_id]}/likes/create" do |f| %>
        <%= f.submit "Like" %>
      <% end %>
      <a href=<%="/users/id/posts/#{@post.id}/comments/new"%>>Comment</a>
    </div>
    <div class="comments-container">
      <%if @post.comments.empty? %>
        <p>No comments found!</p>
      <% else %>
        <% @post.comments.each do |comment| %>
          <p><%=@user_name%>: <%=comment.text%></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
